@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

html {
	font-family: Roboto;
	height: 100%;
	overflow: visible !important;
	background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
#wrapper {
	margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
}

#chooseUser,
#userList
 {
	margin: 5px;
}

.yourMsg {
	margin: 5px;
}

h1 {
	text-align: center;
	color: rgb(192, 224, 131);
}